* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

div {
  height: 100vh;
  width: 100vw;
}

header {
  margin: 44px 0 144px 76px;
}

.link-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #989d9c;
  margin-right: 23px;
  cursor: pointer;
}
.button-login {
  width: 130px;
  height: 41px;
  border-radius: 21px;
  font-size: 19px;
  line-height: 29px;
  background-color: #665ae1;
  color: #ffffff;
  cursor: pointer;
}
.button-login:hover {
  opacity: 0.5;
}
.button-login:active {
  opacity: 10;
}

.logo-image {
  display: inline-block;
  width: 568px;
  height: 500px;
  margin-left: 120px;
}

.container-left {
  display: inline-block;
  margin-right: 85px;
}

.container-right {
  display: inline-block;
}

h1 {
  font-size: 100px;
  font-weight: 900;
  line-height: 122px;
  color: #515151;
}
h2 {
  font-size: 58px;
  font-weight: 500;
  line-height: 71px;
  color: #515151;
}

p {
  width: 515px;
  height: 87px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #848484;
  margin: 25px 25px;
}

.button-explorer {
  width: 239px;
  height: 64px;
  border-radius: 21px;
  background-color: #adff00;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  color: #000000;
  cursor: pointer;
}

.button-explorer:hover {
  opacity: 0.4;
}
.button-explorer:active {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  div {
    width: 390px;
    height: 800px;
  }

  .container-laft {
    width: 100%;
    height: 50%;
    display: block;
    padding: 0;
  }

  .container-right {
    display: block;
    height: auto;
    width: 100%;
    position: static;
    padding: 40px;
  }

  .logo-image {
    position: static;
    width: 354px;
    height: 317px;
    margin: 50px 20px 45px;
  }

  header {
    display: none;
  }
  h1 {
    font-size: 50px;
    line-height: 61px;
    text-align: center;
  }
  h2 {
    font-size: 30px;
    line-height: 37px;
    text-align: center;
  }
  p {
    display: none;
  }

  .button-explorer {
    margin: auto;
    display: block;
  }
}
